.main {
  display: flex;
  flex-direction: column;
}
:local(.label) {
  composes: Typo-Base from global;
  color: var(--color-gray-dark);
  margin-bottom: var(--step-1);
  display: block;
}
.searchWrap {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}
.searchField {
  display: flex;
  flex-direction: column;
}
.searchLabel {
  composes: label;
}
.searchInput {
  composes: Typo-Base from global;
  color: var(--color-gray-dark);
  border: 1px solid var(--color-gray);
  border-radius: var(--corner-radius);
  padding: var(--step-2);
  margin-bottom: var(--step-2);
  margin-right: var(--step-2);
}
.optionsLabel {
  composes: label;
}
.options button {
  margin-bottom: var(--step-1);
  margin-right: var(--step-2);
}
