.main {
  padding: 10px 20px;
  border-radius: 4px;
  border-style: none;
  color: #1e0f75;
}
.label {
  font-weight: bold;
}
.grey {
  background-color: #f1f2f3;
}
.primary {
  background-color: #1e0f75;
  color: white;
}
.primary:hover,
.grey:hover {
  background-color: #49e4ff;
  color: #1e0f75;
}
.primary:active,
.grey:active {
  background-color: #11c3e2;
  color: #1e0f75;
}
.negative {
  background-color: #df102c;
  color: white;
}
.negative:hover {
  background-color: #ff3751;
}
.negative:active {
  background-color: #ff566c;
}
.disabled {
}
