.main {
  padding: 10px 20px;
  border-radius: 4px;
  border-style: none;
  color: var(--color-primary);
}
.label {
  composes: Typo-Base from global;
}
.grey {
  background-color: var(--color-gray-pale);
}
.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.primary:hover,
.grey:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.primary:active,
.grey:active {
  background-color: var(--color-secondary-darker);
  color: var(--color-primary);
}
.negative {
  background-color: var(--color-negative-darker);
  color: var(--color-white);
}
.negative:hover {
  background-color: var(--color-negative);
}
.negative:active {
  background-color: var(--color-negative-lighter);
}
.disabled {
}
