.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--step-4);
}

.logo {
  composes: Typo-Big from global;
  font-weight: bold;
  font-family: sans-serif;
  color: var(--color-negative);
}

.actionsWrapper {
}
