/* empty class required for correct global style import */
.main {
  composes: main from "./reset.css";
}
/* global css file */

:root {
  --color-white-transparent: rgba(255, 255, 255, 0.9);
  --color-dark-transparent: rgba(0, 0, 0, 0.2);
  --color-primary-lighter: #4f3db4;
  --color-primary: #1e0f75;
  --color-primary-darker: #11045c;
  --color-secondary-lighter: #8beeff;
  --color-secondary: #49e4ff;
  --color-secondary-darker: #11c3e2;
  --color-negative-lighter: #ff566c;
  --color-negative: #ff3751;
  --color-negative-darker: #df102c;
  --color-positive-lighter: #83ffea;
  --color-positive: #37ffde;
  --color-positive-darker: #11d8b7;

  --color-white: #ffffff;
  --color-gray-lightest: #f1f2f3;
  --color-gray-lighter: #dddddd;
  --color-gray-light: #cccccc;
  --color-gray: #aaaaaa;
  --color-gray-dark: #454647;
  --color-gray-darker: #222222;
  --color-black: #000000;

  --wide-width: 1024px;
  --step-1: 4px;
  --step-2: 8px;
  --step-3: 12px;
  --step-4: 16px;
  --step-5: 20px;
  --step-6: 24px;
  --step-7: 28px;
  --step-8: 32px;
  --step-9: 36px;
  --corner-radius: var(--step-2);

  --source-font: "Source Sans Pro", sans-serif;
  --line-heigh-base: 1.6;
  --line-heigh-small: 1.2;

  /* breakpoints */
  --break-small: 600px;
  --break-medium: 900px;
  --break-big: 1200px;
  --break-bigger: 1800px;
}

/**
* Typography based on modular scale.
* Settings:
*   Bases: 16px
*   Ratio: 1.4
*/
:global(.Typo-Huge) {
  font-family: var(--source-font);
  font-size: var(--step-9);
}
:global(.Typo-Bigger) {
  font-family: var(--source-font);
  font-size: var(--step-7);
}
:global(.Typo-Big-Bold) {
  font-weight: bold;
}
:global(.Typo-Big) {
  font-family: var(--source-font);
  font-size: var(--step-5);
}
:global(.Typo-Base-Size) {
  font-size: var(--step-4);
}
:global(.Typo-Bold) {
  font-weight: bold;
}
:global(.Typo-Base) {
  font-family: var(--source-font);
  font-size: var(--step-4);
}
:global(.Typo-Small-Size) {
  font-size: var(--step-3);
}
:global(.Typo-Small) {
  font-family: var(--source-font);
  font-size: var(--step-3);
}
:global(.Typo-Smaller) {
  font-family: var(--source-font);
  font-size: var(--step-2);
}
:global(.Typo-Tiny) {
  font-family: var(--source-font);
  font-size: var(--step-1);
}

/* utils */
:global(.centerX) {
  display: flex;
  align-items: center;
}
:global(.centerY) {
  display: flex;
  justify-content: center;
}
:global(.pullRight) {
  position: absolute;
  right: 0;
}
